{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "parser": "babel-eslint",
    "rules": {
        "semi": 2,
        "no-irregular-whitespace": 2,
        "no-trailing-spaces": 2
    }
}
